<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.AtcardlostRegisterMapper">

  <resultMap id="atcardlostRegisterMap" type="com.pig4cloud.pigx.admin.entity.AtcardlostRegister">
                  <id property="id" column="ID"/>
                        <result property="term" column="Term"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="CompID"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="JobID"/>
                        <result property="xdatetime" column="xDateTime"/>
                        <result property="inoutflag" column="InOutFlag"/>
                        <result property="shiftterm" column="ShiftTerm"/>
                        <result property="reason" column="Reason"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="InitializedBy"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="SubmitBy"/>
                        <result property="submittime" column="SubmitTime"/>
                        <result property="closed" column="Closed"/>
                        <result property="closedby" column="ClosedBy"/>
                        <result property="closedtime" column="ClosedTime"/>
                        <result property="remark" column="Remark"/>
                        <result property="flag" column="Flag"/>
                        <result property="wfstatus" column="WfStatus"/>
                        <result property="wfinstanceid" column="WfInstanceID"/>
                        <result property="cardlostplace" column="CardLostPlace"/>
                        <result property="wfinstid" column="WFInstID"/>
                        <result property="wfguid" column="wfGUID"/>
                        <result property="corpid" column="CorpID"/>
                        <result property="corpcode" column="CorpCode"/>
            </resultMap>
</mapper>
