<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.AtshiftDetailsAllMapper">

  <resultMap id="atshiftDetailsAllMap" type="com.pig4cloud.pigx.admin.entity.AtshiftDetailsAll">
                  <id property="id" column="id"/>
                        <result property="term" column="Term"/>
                        <result property="term2" column="Term2"/>
                        <result property="eid" column="EID"/>
                        <result property="plantwid" column="PlanTWID"/>
                        <result property="planbegintime" column="PlanBeginTime"/>
                        <result property="planendtime" column="PlanEndTime"/>
                        <result property="factbegintime" column="FactBeginTime"/>
                        <result property="factendtime" column="FactEndTime"/>
                        <result property="begintime" column="BeginTime"/>
                        <result property="endtime" column="EndTime"/>
                        <result property="facttwid" column="FactTWID"/>
                        <result property="isexception" column="IsException"/>
                        <result property="totalmins" column="TotalMins"/>
                        <result property="netmins" column="NetMins"/>
                        <result property="num" column="Num"/>
                        <result property="amount" column="Amount"/>
                        <result property="unit" column="Unit"/>
                        <result property="seqid" column="Seqid"/>
                        <result property="remark" column="Remark"/>
                        <result property="xtype" column="xType"/>
            </resultMap>
</mapper>
