<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.AtshiftsupplyWorkMapper">

  <resultMap id="atshiftsupplyWorkMap" type="com.pig4cloud.pigx.admin.entity.AtshiftsupplyWork">
                  <id property="id" column="ID"/>
                        <result property="term" column="Term"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="depid" column="DepID"/>
                        <result property="atbadge" column="ATBadge"/>
                        <result property="lineid" column="LineID"/>
                        <result property="teamid" column="TeamID"/>
                        <result property="groupid" column="GroupID"/>
                        <result property="s1" column="S1"/>
                        <result property="s2" column="S2"/>
                        <result property="s3" column="S3"/>
                        <result property="s4" column="S4"/>
                        <result property="s5" column="S5"/>
                        <result property="s6" column="S6"/>
                        <result property="s7" column="S7"/>
                        <result property="s8" column="S8"/>
                        <result property="s9" column="S9"/>
                        <result property="s10" column="S10"/>
                        <result property="s11" column="S11"/>
                        <result property="s12" column="S12"/>
                        <result property="s13" column="S13"/>
                        <result property="s14" column="S14"/>
                        <result property="s15" column="S15"/>
                        <result property="s16" column="S16"/>
                        <result property="s17" column="S17"/>
                        <result property="s18" column="S18"/>
                        <result property="s19" column="S19"/>
                        <result property="s20" column="S20"/>
                        <result property="s21" column="S21"/>
                        <result property="s22" column="S22"/>
                        <result property="s23" column="S23"/>
                        <result property="s24" column="S24"/>
                        <result property="s25" column="S25"/>
                        <result property="s26" column="S26"/>
                        <result property="s27" column="S27"/>
                        <result property="s28" column="S28"/>
                        <result property="s29" column="S29"/>
                        <result property="s30" column="S30"/>
                        <result property="s31" column="S31"/>
                        <result property="s32" column="S32"/>
                        <result property="s33" column="S33"/>
                        <result property="s34" column="S34"/>
                        <result property="s35" column="S35"/>
                        <result property="s36" column="S36"/>
                        <result property="s37" column="S37"/>
                        <result property="s38" column="S38"/>
                        <result property="s39" column="S39"/>
                        <result property="s40" column="S40"/>
                        <result property="s41" column="S41"/>
                        <result property="s42" column="S42"/>
                        <result property="s43" column="S43"/>
                        <result property="s44" column="S44"/>
                        <result property="s45" column="S45"/>
                        <result property="s46" column="S46"/>
                        <result property="s47" column="S47"/>
                        <result property="s48" column="S48"/>
                        <result property="s49" column="S49"/>
                        <result property="s50" column="S50"/>
                        <result property="remark" column="Remark"/>
                        <result property="corpid" column="CorpID"/>
                        <result property="corpcode" column="CorpCode"/>
            </resultMap>
</mapper>
