<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.AtstaffRegisterMapper">

  <resultMap id="atstaffRegisterMap" type="com.pig4cloud.pigx.admin.entity.AtstaffRegister">
                  <id property="id" column="ID"/>
                        <result property="term" column="Term"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="CompID"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="JobID"/>
                        <result property="joindate" column="JoinDate"/>
                        <result property="lineid" column="LineID"/>
                        <result property="teamid" column="TeamID"/>
                        <result property="groupid" column="GroupID"/>
                        <result property="atbadge" column="ATBadge"/>
                        <result property="agentuserid" column="AgentUserID"/>
                        <result property="aid" column="AID"/>
                        <result property="cardid" column="CardID"/>
                        <result property="atemptype" column="ATEmpType"/>
                        <result property="atstatus" column="ATStatus"/>
                        <result property="hourlywages" column="HourlyWages"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="InitializedBy"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="SubmitBy"/>
                        <result property="submittime" column="SubmitTime"/>
                        <result property="closed" column="Closed"/>
                        <result property="closedby" column="ClosedBy"/>
                        <result property="closedtime" column="ClosedTime"/>
                        <result property="remark" column="Remark"/>
                        <result property="cardaddrid" column="CardAddrID"/>
                        <result property="corpid" column="CorpID"/>
                        <result property="corpcode" column="CorpCode"/>
	  <result property="spno" column="spno"/>
	  <result property="regby" column="regby"/>
	  <result property="regdate" column="regdate"/>

            </resultMap>

	<!--员工花名册-->
	<select id="listAtstaffRegister" resultType="java.util.Map">
		SELECT  a.term,a.name,a.depid,a.jobid,a.joindate,
		(select title from otdepartment where depid = a.depid and corpcode=#{query.corpcode}) depname,
		(select  title from otjob where jobid = a.jobid and corpcode=#{query.corpcode}) jobname,
		aid,(select title  from atCD_AgentMode where id = a.id) aidname,
		agentuserid,(select name from sys_user where corpcode = #{query.corpcode} and user_id=a.agentuserid) agentusername,
		atstatus,(select title from atCD_ATStatus where id=a.atstatus) atstatusname,
		groupid,(select title from atgroup where groupid = a.groupid) groupname,
		cardaddrid,(select attendancename from systAttendanceAddress where id = a.cardaddrid) cardaddrname
		FROM atStaff_Register a where a.corpcode = #{query.corpcode}

		<if test="query.name != null and query.name!= ''">
			AND a.name LIKE CONCAT('%',#{query.name},'%')
		</if>
		<if test="query.depid != null and query.depid!= ''">
			AND a.depid LIKE CONCAT('%',#{query.depid},'%')
		</if>
		<if test="query.jobid != null and query.jobid!= ''">
			AND a.jobid =#{query.jobid}
		</if>

	</select>


	<!--考勤确认校验-->
	<select id="aSPStaffCheck" statementType="CALLABLE" resultType="java.util.Map"    parameterType="java.util.HashMap" >

		{call aSP_StaffCheck_Easy(#{id,mode=IN,jdbcType=INTEGER},#{userid,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>

	<!--考勤开启-->
	<select id="aSPStaffStart" statementType="CALLABLE" resultType="java.util.Map"   parameterType="java.util.HashMap" >

		{call aSP_StaffStart_Easy(#{id,mode=IN,jdbcType=INTEGER},#{userid,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>
</mapper>
