<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.CtcdAttendsickrateMapper">

  <resultMap id="ctcdAttendsickrateMap" type="com.pig4cloud.pigx.admin.entity.CtcdAttendsickrate">
                  <id property="id" column="ID"/>
                        <result property="stype" column="SType"/>
                        <result property="compid" column="CompID"/>
                        <result property="cityid" column="CityID"/>
                        <result property="relayeartype" column="RelayearType"/>
                        <result property="minnum" column="MinNum"/>
                        <result property="maxnum" column="MaxNum"/>
                        <result property="rate" column="Rate"/>
                        <result property="sickbase" column="SickBase"/>
                        <result property="sickbaserate" column="SickBaseRate"/>
                        <result property="corpcode" column="CorpCode"/>
                        <result property="corpid" column="CorpID"/>
            </resultMap>
</mapper>
