<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.CtcdBenrateCommonMapper">

  <resultMap id="ctcdBenrateCommonMap" type="com.pig4cloud.pigx.admin.entity.CtcdBenrateCommon">
                  <id property="id" column="ID"/>
                        <result property="benarea" column="BenArea"/>
                        <result property="bentype" column="BenType"/>
                        <result property="selfRate" column="Self_Rate"/>
                        <result property="selfAddnum" column="Self_AddNum"/>
                        <result property="digital" column="Digital"/>
                        <result property="selfMantissa" column="Self_Mantissa"/>
                        <result property="compRate" column="Comp_Rate"/>
                        <result property="compAddnum" column="Comp_AddNum"/>
                        <result property="compdigital" column="CompDigital"/>
                        <result property="compMantissa" column="Comp_Mantissa"/>
                        <result property="maxvalue" column="MaxValue"/>
                        <result property="minvalue" column="MinValue"/>
                        <result property="adjmonth" column="AdjMonth"/>
                        <result property="benstdtype" column="BenStdType"/>
                        <result property="isdefault" column="isDefault"/>
                        <result property="isdisabled" column="isDisabled"/>
                        <result property="remark" column="Remark"/>
                        <result property="compid" column="compid"/>
                        <result property="corpcode" column="corpcode"/>
                        <result property="corpid" column="corpid"/>
            </resultMap>
</mapper>
