<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.CtregularpayRegisterMapper">

  <resultMap id="ctregularpayRegisterMap" type="com.pig4cloud.pigx.admin.entity.CtregularpayRegister">
                  <id property="id" column="ID"/>
                        <result property="seqid" column="SeqID"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="Compid"/>
                        <result property="depid" column="Depid"/>
                        <result property="jobid" column="Jobid"/>
                        <result property="xtype" column="xType"/>
                        <result property="paytype" column="PayType"/>
                        <result property="xvalue" column="xValue"/>
                        <result property="fromterm" column="FromTerm"/>
                        <result property="toterm" column="ToTerm"/>
                        <result property="effectdate" column="Effectdate"/>
                        <result property="regby" column="Regby"/>
                        <result property="regtime" column="regtime"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="Initializedby"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="submit"/>
                        <result property="submitby" column="submitby"/>
                        <result property="submittime" column="submittime"/>
                        <result property="closed" column="closed"/>
                        <result property="closedby" column="closedby"/>
                        <result property="closedtime" column="closedtime"/>
                        <result property="remark" column="remark"/>
                        <result property="corpcode" column="corpcode"/>
                        <result property="corpid" column="CorpID"/>
            </resultMap>
</mapper>
