<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EtbgWorkingMapper">

  <resultMap id="etbgWorkingMap" type="com.pig4cloud.pigx.admin.entity.EtbgWorking">
                  <id property="id" column="id"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="badge"/>
                        <result property="begindate" column="begindate"/>
                        <result property="enddate" column="enddate"/>
                        <result property="company" column="company"/>
                        <result property="job" column="job"/>
                        <result property="workplace" column="workplace"/>
                        <result property="reference" column="Reference"/>
                        <result property="tel" column="Tel"/>
                        <result property="isout" column="isout"/>
                        <result property="remark" column="remark"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="CompID"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="JobID"/>
                        <result property="inoutflag" column="inoutflag"/>
                        <result property="department" column="department"/>
                        <result property="salarytax" column="Salarytax"/>
                        <result property="duty" column="duty"/>
                        <result property="leavereason" column="LeaveReason"/>
	  <result property="zmrzw" column="zmrzw"/>
	  <result property="userid" column="userid"/>
	  <result property="corpcode" column="corpcode"/>
	  <result property="isdisabled" column="isdisabled"/>


            </resultMap>

	<select id="listEtbgWorkingBySql" resultType="java.util.Map">

		select a.company,a.begindate,a.enddate,a.duty,a.leavereason,a.reference,a.zmrzw,a.tel
		from etbg_working a
		where a.corpcode=#{corpcode}
		 and a.eid = #{eid}
	</select>

	<!--员工档案-教育经历-->
	<!--<select id="listEtbgWorkingAllBySql" resultType="java.util.Map">
		SELECT  a.name,a.eid,a.ename,a.badge,mobile,email,birthday,case when a.gender=1 then '男' when a.gender=2 then '女' else '未知' end gender,
		TIMESTAMPDIFF(YEAR, a.BirthDay, CURDATE()) age,
		a.depid,
		(select  title from otdepartment where depid = a.depid and corpcode=#{query.corpcode}) depname,
		a.jobid,
		(select  title from otjob where jobid = a.jobid and corpcode=#{query.corpcode}) jobname,
		a.emptype,
		(select ifnull(title,'未设置') from etcd_emptype where id=a.emptype) emptypename,
		a.empstatus,
		(select title from etcd_empstatus where id = a.empstatus) empstatusname,
		b.company,b.begindate,b.enddate,b.duty,b.leavereason,b.reference,b.zmrzw,b.tel,b.job
		FROM etEmployee a,etbg_working b where a.corpcode = #{query.corpcode}
		and b.corpcode = #{query.corpcode}
		and a.eid = b.eid
		<if test="query.name != null and query.name!= ''">
			AND a.name LIKE CONCAT('%',#{query.name},'%')
		</if>
	</select>-->
	<select id="listEtbgWorkingAllBySql" resultType="java.util.Map">
		SELECT  b.id,a.name,a.eid,a.ename,a.badge,mobile,email,birthday,gender,
		TIMESTAMPDIFF(YEAR, a.BirthDay, CURDATE()) age,
		a.depid,
		a.jobid,
		a.emptype,
		a.empstatus,
		b.company,b.begindate,b.enddate,b.duty,b.leavereason,b.reference,b.zmrzw,b.tel,b.job
		FROM etEmployee a,etbg_working b where a.corpcode = #{query.corpcode}
		and b.corpcode = #{query.corpcode}
		and a.eid = b.eid
		<if test="query.name != null and query.name!= ''">
			AND a.name LIKE CONCAT('%',#{query.name},'%')
		</if>
	</select>

</mapper>
