<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EtbgHortationMapper">

  <resultMap id="etbgHortationMap" type="com.pig4cloud.pigx.admin.entity.EtbgHortation">
                  <id property="id" column="ID"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="badge"/>
                        <result property="inout" column="InOut"/>
                        <result property="hortationtype" column="HortationType"/>
                        <result property="hortationkind" column="HortationKind"/>
                        <result property="happendate" column="HappenDate"/>
                        <result property="organizer" column="Organizer"/>
                        <result property="reason" column="Reason"/>
                        <result property="description" column="Description"/>
                        <result property="remark" column="Remark"/>
                        <result property="name" column="name"/>
                        <result property="compid" column="compid"/>
                        <result property="depid" column="depid"/>
                        <result property="jobid" column="jobid"/>
                        <result property="amount" column="Amount"/>
                        <result property="paymonth" column="PayMonth"/>
                        <result property="payendmonth" column="PayEndMonth"/>
                        <result property="initialized" column="Initialized"/>
	  <result property="userid" column="userid"/>
	  <result property="corpcode" column="corpcode"/>
            </resultMap>
</mapper>
