<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EtcontractAllMapper">

  <resultMap id="etcontractAllMap" type="com.pig4cloud.pigx.admin.entity.EtcontractAll">
                  <id property="id" column="ID"/>
                        <result property="type" column="type"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="compid"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="jobid"/>
                        <result property="empgrade" column="empgrade"/>
                        <result property="posgrade" column="posgrade"/>
                        <result property="position" column="position"/>
                        <result property="concount" column="conCount"/>
                        <result property="contract" column="contract"/>
                        <result property="contype" column="contype"/>
                        <result property="conproperty" column="conProperty"/>
                        <result property="conno" column="conNo"/>
                        <result property="conbegindate" column="conBeginDate"/>
                        <result property="conterm" column="conTerm"/>
                        <result property="conenddate" column="conEndDate"/>
                        <result property="newConcount" column="New_conCount"/>
                        <result property="newContract" column="New_contract"/>
                        <result property="newContype" column="New_contype"/>
                        <result property="newConproperty" column="New_conProperty"/>
                        <result property="newConno" column="New_conNo"/>
                        <result property="newConbegindate" column="New_conBeginDate"/>
                        <result property="newConterm" column="New_conTerm"/>
                        <result property="newConenddate" column="New_conEndDate"/>
                        <result property="effectdate" column="effectDate"/>
                        <result property="reason" column="reason"/>
                        <result property="regby" column="RegBy"/>
                        <result property="regdate" column="RegDate"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="initializedby"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="submitby"/>
                        <result property="submittime" column="SubmitTime"/>
                        <result property="closed" column="closed"/>
                        <result property="closedby" column="closedby"/>
                        <result property="closedtime" column="closedTime"/>
                        <result property="remark" column="Remark"/>
                        <result property="corpcode" column="CorpCode"/>
	  <result property="expirationreminder" column="expirationreminder"/>
	  <result property="userid" column="userid"/>
	  <result property="status" column="status"/>

            </resultMap>

	<!--合同未签订-->
	<select id="listEtcontractAllWQD" resultType="java.util.Map">

		select a.name,a.badge,a.depid,a.jobid,a.empstatus,a.reportto,a.emptype,a.joindate
			from etEmployee a
		where a.corpcode = #{query.corpcode} and a.conType is null
		and not exists (select 1 from etcontract_all b where b.eid=a.eid)

	</select>

	<!--合同已签订-->
	<select id="listEtcontractAllYQD" resultType="java.util.Map">

		select
		 a.name,a.badge,a.depid,a.jobid,a.empstatus,a.reportto,a.emptype,a.joindate,
		b.conno,b.contype,b.conterm,b.conbegindate,b.conenddate,b.contract,b.regdate
		from etEmployee a,etcontract_all b
		 where  a.corpcode = #{query.corpcode}
		 and a.contractunit  = b.contract
		 and a.contype=b.contype
		 and a.conno=b.conno
		 and a.conbegindate=b.conbegindate
		 and a.conterm=b.conterm
		 and a.conenddate=b.conenddate
		 and a.conbegindate!=null

	</select>

	<!--合同签订历史-->
	<select id="listEtcontractAllQDLS" resultType="java.util.Map">
		select
			a.id,a.type,b.name,b.badge,b.depid,b.jobid,b.empstatus,b.reportto,b.emptype,b.joindate,a.concount,a.contract,a.contype,a.conproperty,a.conno,
			a.conbegindate,a.conterm,a.conenddate,a.new_concount,a.new_contract,a.new_contype,a.new_conproperty,
			a.new_conno,a.new_conbegindate,a.new_conterm,a.new_conenddate,
			a.effectdate,a.reason,a.regby,a.regdate,a.initializedby,a.submitby,a.closedby,
			a.initialized,a.initializedtime,a.submit,a.submittime,a.closed,a.closedtime,a.remark
		from etcontract_all a ,etEmployee b
				where a.corpcode = #{query.corpcode}
				and a.eid = b.eid

	</select>
	<!--合同操作校验-->
	<select id="eSPContractCheckSub" statementType="CALLABLE" resultType="java.util.Map"  parameterType="java.util.HashMap" >

		{call eSP_ContractCheckSub(#{id,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>





	<!--合同确认-->
	<select id="eSPContractStart" statementType="CALLABLE" resultType="java.util.Map"  parameterType="java.util.HashMap" >

		{call eSP_ContractStart(#{id,mode=IN,jdbcType=INTEGER},#{userid,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>

	<!--列出合同-->
	<select id="listEtcontractAllByEID" resultType="java.util.Map">

		select
		b.type,b.conno,b.contype,b.conterm,b.conbegindate,b.conenddate,b.contract,b.regdate
		from etcontract_all b
		 where  corpcode = #{corpcode}
		 and eid = #{eid}
		 order by b.conbegindate desc


	</select>
</mapper>
