<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EtleaveAllMapper">

  <resultMap id="etleaveAllMap" type="com.pig4cloud.pigx.admin.entity.EtleaveAll">
                  <id property="id" column="ID"/>
                        <result property="type" column="type"/>
                        <result property="eid" column="EID"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="compid" column="CompID"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="JobID"/>
                        <result property="joindate" column="JoinDate"/>
                        <result property="lastleavedate" column="LastLeaveDate"/>
                        <result property="applydate" column="ApplyDate"/>
                        <result property="leavedate" column="LeaveDate"/>
                        <result property="leavetype" column="LeaveType"/>
                        <result property="leavereason" column="LeaveReason"/>
                        <result property="isendcon" column="IsEndCon"/>
                        <result property="ispay" column="isPay"/>
                        <result property="payfee" column="PayFee"/>
                        <result property="isexpenses" column="IsExpenses"/>
                        <result property="expensefee" column="ExpenseFee"/>
                        <result property="iscompete" column="IsCompete"/>
                        <result property="competefee" column="CompeteFee"/>
                        <result property="newcompany" column="NewCompany"/>
                        <result property="newjob" column="NewJob"/>
                        <result property="newsalary" column="NewSalary"/>
                        <result property="isblacklist" column="IsBlackList"/>
                        <result property="corpcode" column="CorpCode"/>
                        <result property="seqid" column="SeqID"/>
                        <result property="wfstatus" column="WFStatus"/>
                        <result property="regby" column="RegBy"/>
                        <result property="regdate" column="Regdate"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="Initializedby"/>
                        <result property="initializedtime" column="Initializedtime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="Submitby"/>
                        <result property="submittime" column="Submittime"/>
                        <result property="closed" column="Closed"/>
                        <result property="closedby" column="Closedby"/>
                        <result property="closedtime" column="Closedtime"/>
                        <result property="remark" column="Remark"/>
	  				<result property="certno" column="certno"/>
	  <result property="lzsq" column="lzsq"/>
	  <result property="lzjj" column="lzjj"/>
	  <result property="lzzl" column="lzzl"/>

            </resultMap>
</mapper>
