<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EtstaffAllMapper">

  <resultMap id="etstaffAllMap" type="com.pig4cloud.pigx.admin.entity.EtstaffAll">
                  <id property="id" column="ID"/>
                        <result property="seqid" column="SeqID"/>
                        <result property="rappid" column="RappID"/>
                        <result property="type" column="Type"/>
                        <result property="oldeid" column="OldEID"/>
                        <result property="oldbadge" column="OldBadge"/>
                        <result property="badge" column="Badge"/>
                        <result property="name" column="Name"/>
                        <result property="ename" column="EName"/>
                        <result property="corpcode" column="CorpCode"/>
                        <result property="compid" column="CompID"/>
                        <result property="depid" column="DepID"/>
                        <result property="jobid" column="JobID"/>
                        <result property="reportto" column="ReportTo"/>
                        <result property="wfreportto" column="wfreportto"/>
                        <result property="empstatus" column="EmpStatus"/>
                        <result property="emptype" column="EmpType"/>
                        <result property="position" column="Position"/>
                        <result property="posgrade" column="Posgrade"/>
                        <result property="empgrade" column="EmpGrade"/>
                        <result property="workcity" column="WorkCity"/>
                        <result property="jointype" column="JoinType"/>
                        <result property="joindate" column="JoinDate"/>
                        <result property="workbegindate" column="WorkBeginDate"/>
                        <result property="wyearAdjust" column="Wyear_Adjust"/>
                        <result property="cyearAdjust" column="Cyear_Adjust"/>
                        <result property="pracbegindate" column="PracBeginDate"/>
                        <result property="practerm" column="PracTerm"/>
                        <result property="pracenddate" column="PracEndDate"/>
                        <result property="procbegindate" column="ProcBeginDate"/>
                        <result property="procterm" column="ProcTerm"/>
                        <result property="procenddate" column="ProcEndDate"/>
                        <result property="probbegindate" column="ProbBeginDate"/>
                        <result property="probterm" column="ProbTerm"/>
                        <result property="probenddate" column="ProbEndDate"/>
                        <result property="contract" column="contract"/>
                        <result property="contype" column="ConType"/>
                        <result property="conproperty" column="ConProperty"/>
                        <result property="conno" column="ConNo"/>
                        <result property="conbegindate" column="ConBeginDate"/>
                        <result property="conterm" column="ConTerm"/>
                        <result property="conenddate" column="ConEndDate"/>
                        <result property="country" column="Country"/>
                        <result property="nation" column="Nation"/>
                        <result property="certtype" column="CertType"/>
                        <result property="certno" column="CertNo"/>
                        <result property="gender" column="Gender"/>
                        <result property="birthday" column="BirthDay"/>
                        <result property="email" column="email"/>
                        <result property="mobile" column="Mobile"/>
                        <result property="officePhone" column="office_phone"/>
                        <result property="birthplace" column="BirthPlace"/>
                        <result property="party" column="party"/>
                        <result property="partydate" column="partydate"/>
                        <result property="highlevel" column="HighLevel"/>
                        <result property="highdegree" column="HighDegree"/>
                        <result property="hightitle" column="HighTitle"/>
                        <result property="major" column="Major"/>
                        <result property="marriage" column="Marriage"/>
                        <result property="health" column="Health"/>
                        <result property="resident" column="Resident"/>
	  <result property="resident2" column="Resident2"/>
                        <result property="residentaddress" column="residentAddress"/>
                        <result property="address" column="Address"/>
                        <result property="tel" column="TEL"/>
                        <result property="postcode" column="Postcode"/>
                        <result property="qq" column="QQ"/>
                        <result property="emailPers" column="eMail_pers"/>
                        <result property="wechart" column="Wechart"/>
                        <result property="weibo" column="Weibo"/>
                        <result property="bloodtype" column="BloodType"/>
                        <result property="constellation" column="Constellation"/>
                        <result property="regby" column="Regby"/>
                        <result property="regdate" column="RegDate"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="InitializedBy"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="SubmitBy"/>
                        <result property="submittime" column="SubmitTime"/>
                        <result property="closed" column="Closed"/>
                        <result property="closedby" column="ClosedBy"/>
                        <result property="closedtime" column="ClosedTime"/>
                        <result property="remark" column="Remark"/>
                        <result property="certadd" column="CertAdd"/>
                        <result property="joindate2" column="JoinDate2"/>
                        <result property="ismeal" column="IsMeal"/>
                        <result property="issuancedate" column="IssuanceDate"/>
                        <result property="expirydate" column="ExpiryDate"/>
                        <result property="refereeempid" column="RefereeEmpID"/>
                        <result property="adaccount" column="ADAccount"/>
                        <result property="isdelidcard" column="IsDelIDCard"/>
                        <result property="distancecomp" column="DistanceComp"/>
                        <result property="empgroup" column="EmpGroup"/>
                        <result property="empkind" column="EmpKind"/>
                        <result property="empcategory" column="EmpCategory"/>
                        <result property="empproperty" column="EmpProperty"/>
                        <result property="jobgz" column="JobGZ"/>
                        <result property="wpid" column="WPID"/>
                        <result property="machineid" column="MachineID"/>
                        <result property="wfinstid" column="WFInstID"/>
                        <result property="province" column="Province"/>
                        <result property="city" column="City"/>
                        <result property="district" column="District"/>
                        <result property="adress" column="Adress"/>
                        <result property="cert1" column="Cert1"/>
                        <result property="cert2" column="Cert2"/>
                        <result property="certindate" column="CertIndate"/>
                        <result property="healthreport" column="HealthReport"/>
                        <result property="residenttype" column="ResidentType"/>
	  <result property="isneedaudit" column="isneedaudit"/>
	  <result property="corpid" column="corpid"/>
	  <result property="spno" column="spno"/>
            </resultMap>

	<!--最近入职-->
	<select id="listEtstaffAllRecentEntryPageSql" resultType="java.util.Map">
		select ID,SeqID,RappID,Type,OldEID,OldBadge,Badge,Name,EName,CompID,DepID,JobID,ReportTo,wfreportto,EmpStatus,EmpType,EmpGrade,WorkCity,JoinType,JoinDate,WorkBeginDate,Wyear_Adjust,Cyear_Adjust,PracBeginDate,PracTerm,PracEndDate,ProcBeginDate,ProcTerm,ProcEndDate,ProbBeginDate,ProbTerm,ProbEndDate,contract,ConType,ConProperty,ConNo,ConBeginDate,ConTerm,ConEndDate,Country,Nation,CertType,CertNo,Gender,BirthDay,email,Mobile,office_phone,BirthPlace,party,partydate,HighLevel,HighDegree,HighTitle,Major,Marriage,Health,Resident,residentAddress,Address,TEL,Postcode,QQ,eMail_pers,Wechart,Weibo,BloodType,Constellation,Regby,RegDate,InitializedBy,SubmitBy,ClosedBy,CertAdd,JoinDate2,IsMeal,IssuanceDate,ExpiryDate,RefereeEmpID,ADAccount,DistanceComp,Initialized,InitializedTime,
		Submit,SubmitTime,Closed,ClosedTime,Remark,spno,isneedaudit from etstaff_all
		where corpcode=#{query.corpcode} and
		TIMESTAMPDIFF(MONTH,regdate,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S')) &lt;31

		<if test="query.name != null and query.name!= ''">
			AND name LIKE CONCAT('%',#{query.name},'%')
		</if>
		<if test="query.depid != null and query.depid!= ''">
			AND depid =#{query.depid}
		</if>
		<if test="query.jobid != null and query.jobid!= ''">
			AND jobid =#{query.jobid}
		</if>
		<if test="query.initialized != null and query.initialized!= ''">
			AND Initialized =#{query.initialized}
		</if>

	</select>
</mapper>
