<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.OatattendancedetailAllMapper">

  <resultMap id="oatattendancedetailAllMap" type="com.pig4cloud.pigx.admin.entity.OatattendancedetailAll">
                  <id property="id" column="ID"/>
                        <result property="attendanceid" column="AttendanceID"/>
                        <result property="userid" column="UserID"/>
                        <result property="attendancedate" column="AttendanceDate"/>
                        <result property="attendancetime" column="AttendanceTime"/>
                        <result property="attendancetype" column="AttendanceType"/>
                        <result property="userlng" column="UserLng"/>
                        <result property="userlat" column="UserLat"/>
                        <result property="userdistance" column="UserDistance"/>
                        <result property="corpid" column="CorpID"/>
                        <result property="corpcode" column="CorpCode"/>
            </resultMap>
</mapper>
