<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.OtdepchangeAllMapper">

  <resultMap id="otdepchangeAllMap" type="com.pig4cloud.pigx.admin.entity.OtdepchangeAll">
                  <id property="id" column="id"/>
                        <result property="type" column="type"/>
                        <result property="depid" column="DepID"/>
                        <result property="depcode" column="DepCode"/>
                        <result property="title" column="Title"/>
                        <result property="depabbr" column="DepAbbr"/>
                        <result property="compid" column="CompID"/>
                        <result property="adminid" column="AdminID"/>
                        <result property="functionid" column="FunctionID"/>
                        <result property="depgrade" column="DepGrade"/>
                        <result property="deptype" column="DepType"/>
                        <result property="depproperty" column="DepProperty"/>
                        <result property="depcost" column="DepCost"/>
                        <result property="director" column="Director"/>
                        <result property="director2" column="Director2"/>
                        <result property="depemp" column="DepEmp"/>
                        <result property="depnum" column="DepNum"/>
                        <result property="corpcode" column="CorpCode"/>
                        <result property="isou" column="ISOU"/>
                        <result property="effectdate" column="EffectDate"/>
                        <result property="regby" column="RegBy"/>
	  					<result property="regbyname" column="regbyname"/>
                        <result property="regdate" column="RegDate"/>
                        <result property="initialized" column="Initialized"/>
                        <result property="initializedby" column="InitializedBy"/>
                        <result property="initializedtime" column="InitializedTime"/>
                        <result property="submit" column="Submit"/>
                        <result property="submitby" column="SubmitBy"/>
                        <result property="submittime" column="SubmitTime"/>
                        <result property="closed" column="Closed"/>
                        <result property="closedby" column="ClosedBy"/>
                        <result property="closedtime" column="ClosedTime"/>
                        <result property="remark" column="Remark"/>
                        <result property="depstr" column="DepStr"/>
                        <result property="compidOld" column="CompID_Old"/>
                        <result property="depcodeOld" column="DepCode_Old"/>
                        <result property="titleOld" column="Title_Old"/>
                        <result property="depabbrOld" column="DepAbbr_Old"/>
                        <result property="adminidOld" column="AdminID_Old"/>
                        <result property="depgradeOld" column="DepGrade_Old"/>
                        <result property="deptypeOld" column="DepType_Old"/>
                        <result property="deppropertyOld" column="DepProperty_Old"/>
                        <result property="depcostOld" column="DepCost_Old"/>
                        <result property="directorOld" column="Director_Old"/>
                        <result property="director2Old" column="Director2_Old"/>
                        <result property="depempOld" column="DepEmp_Old"/>
                        <result property="corpid" column="corpid"/>
                        <result property="address" column="address"/>
                        <result property="orgfunction" column="orgfunction"/>
                        <result property="decription" column="decription"/>
                        <result property="province" column="province"/>
                        <result property="city" column="city"/>
                        <result property="district" column="district"/>
                        <result property="addressOld" column="address_old"/>
                        <result property="orgfunctionOld" column="orgfunction_old"/>
                        <result property="decriptionOld" column="decription_old"/>
                        <result property="provinceOld" column="province_old"/>
                        <result property="cityOld" column="city_old"/>
                        <result property="districtOld" column="district_old"/>
	  					<result property="isou_old" column="isouOld"/>
            </resultMap>

	<!--查询部门历史-->
	<select id="listOtdepchangeAll" resultType="java.util.Map">

		select case
				when type=1
					then '新增'
				when type=2
					then '修改'
				when  type=3
					then '删除'
				when  type=4
					then '合并' end stype,
		title,Title_Old titleOld,regbyname,regdate,
		(select title from sys_dict_item where id = a.deptype) deptype,
		(select  ifnull(max(name),'') from etemployee where eid=a.director) director,
		(select  ifnull(max(name),'') from etemployee where eid=a.director2) director2,
		(select title from Otdepartment where depid = a.adminid) admintitle,
		case when isou = 1 then '否' else '是' end isou,effectdate,
		decription,
		orgfunction,
		(select title from sys_dict_item where id = a.deptype_old) deptypeold,
		(select  ifnull(max(name),'') from etemployee where eid=a.director_old) directorold,
		(select  ifnull(max(name),'') from etemployee where eid=a.director2_old) director2old,
		(select title from Otdepartment where depid = a.adminid_old) admintitlelod,
		case when isou_old = 1 then '是' else '否' end isouold,
		decription_old decriptionold,
		orgfunction_old orgfunctionold
		from otdepchange_all a
		where a.corpcode = #{query.corpcode}

		<if test="query.stype != null and query.stype!= ''">
			AND a.type = #{query.stype}
		</if>
		<if test="query.regdate1 != null and query.regdate1!= ''">
			AND a.regdate &gt; #{query.regdate1}
		</if>
		<if test="query.regdate2 != null and query.regdate2!= ''">
			AND a.regdate &lt; #{query.regdate2}
		</if>


	</select>
</mapper>
