<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SysQywxApplicationAuthorizerMapper">

  	<resultMap id="sysQywxApplicationAuthorizerMap" type="com.pig4cloud.pigx.admin.entity.SysQywxApplicationAuthorizer">
			<id property="id" column="id"/>
			<result property="permanentCode" column="permanent_code"/>
			<result property="accessToken" column="access_token"/>
			<result property="accessTokenExpiresTime" column="access_token_expires_time"/>
			<result property="corpJsapiTick" column="corp_jsapi_tick"/>
			<result property="jsapiTicket" column="jsapi_ticket"/>
			<result property="jsExpiresTime" column="js_expires_time"/>
			<result property="suiteId" column="suite_id"/>
			<result property="authCorpid" column="auth_corpid"/>
			<result property="authCorpName" column="auth_corp_name"/>
			<result property="authCorpType" column="auth_corp_type"/>
			<result property="authCorpSquareLogoUrl" column="auth_corp_square_logo_url"/>
			<result property="authCorpUserMax" column="auth_corp_user_max"/>
			<result property="authCorpFullName" column="auth_corp_full_name"/>
			<result property="authSubjectType" column="auth_subject_type"/>
			<result property="authVerifiedEndTime" column="auth_verified_end_time"/>
			<result property="authCorpWxqrcode" column="auth_corp_wxqrcode"/>
			<result property="authCorpScale" column="auth_corp_scale"/>
			<result property="authCorpIndustry" column="auth_corp_industry"/>
			<result property="authCorpSubIndustry" column="auth_corp_sub_industry"/>
			<result property="authLocation" column="auth_location"/>
			<result property="authInfo" column="auth_info"/>
			<result property="authUserInfo" column="auth_user_info"/>
			<result property="dealerCorpInfo" column="dealer_corp_info"/>
			<result property="createDate" column="create_date"/>
			<result property="updateDate" column="update_date"/>
	</resultMap>

	<select id="queryBySAuthCorpid" resultMap="sysQywxApplicationAuthorizerMap">
		SELECT
			id,
			permanent_code,
			access_token,
			access_token_expires_time,
			corp_jsapi_tick,
			jsapi_ticket,
			js_expires_time,
			suite_id,
			auth_corpid,
			auth_corp_name,
			auth_corp_type,
			auth_corp_square_logo_url,
			auth_corp_user_max,
			auth_corp_full_name,
			auth_subject_type,
			auth_verified_end_time,
			auth_corp_wxqrcode,
			auth_corp_scale,
			auth_corp_industry,
			auth_corp_sub_industry,
			auth_location,
			auth_info,
			auth_user_info,
			dealer_corp_info,
			address_access_token,
			address_access_token_time
		FROM
			sys_qywx_application_authorizer
		WHERE
			auth_corpid = #{authCorpid}
			and suite_id = #{suiteId}
	</select>
</mapper>
