<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SysQywxApplicationMapper">

  <resultMap id="sysQywxApplicationMap" type="com.pig4cloud.pigx.admin.entity.SysQywxApplication">
                  <id property="id" column="id"/>
                        <result property="suiteId" column="suite_id"/>
                        <result property="suiteSecret" column="suite_secret"/>
                        <result property="suiteTicket" column="suite_ticket"/>
                        <result property="ticketTime" column="ticket_time"/>
                        <result property="suiteAccessToken" column="suite_access_token"/>
                        <result property="tokenExpiresTime" column="token_expires_time"/>
                        <result property="preAuthCode" column="pre_auth_code"/>
                        <result property="codeExpiresTime" column="code_expires_time"/>
                        <result property="createDate" column="create_date"/>
                        <result property="updateDate" column="update_date"/>
	  					<result property="authcode" column="authcode"/>
            </resultMap>
	<select id="listQYWeixinApplication" resultMap="sysQywxApplicationMap">
		select id,suite_id,suite_secret,suite_ticket,ticket_time,suite_access_token,
		token_expires_time,pre_auth_code,code_expires_time,create_date,update_date,authcode
		 from sys_qywx_application where suite_id = #{suiteId} and suite_secret = #{suiteSecret}
	</select>
	<select id="queryBySuiteId" resultMap="sysQywxApplicationMap">
		select id,suite_id,suite_secret,suite_ticket,ticket_time,suite_access_token,
		token_expires_time,pre_auth_code,code_expires_time,create_date,update_date,authcode
		 from sys_qywx_application where suite_id = #{suiteId}
	</select>
</mapper>
