<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SystpayrollgroupMapper">

  <resultMap id="systpayrollgroupMap" type="com.pig4cloud.pigx.admin.entity.Systpayrollgroup">
                  <id property="id" column="id"/>
                        <result property="title" column="title"/>
                        <result property="sqlformula" column="SQLFormula"/>
                        <result property="sqlcondition" column="SQLCondition"/>
                        <result property="isdisabled" column="IsDisabled"/>
                        <result property="corpcode" column="corpcode"/>
                        <result property="corpid" column="corpid"/>
	  					<result property="descripiton" column="descripiton"/>

            </resultMap>

	<select id="listSystpayrollgroupTree" resultType="com.pig4cloud.pigx.admin.api.dto.TreeOrg" parameterType="java.util.Map">


			select
		a.id,a.title, 'root' as pid,false as ischecked from etcd_paystditem a where  a.isdisabled = 0
		union all
		select  b.id,b.title,b.type as pid,case when ((select 1 from systpaystditem where id = b.id))=1 then true else false end ischecked
		from systpaystditem_common b  where b.corpcode =  #{corpcode}
		and b.isdisabled = 0


	</select>

	<select id="sysSP_CreatePayrollGroupCustom" resultType="java.util.Map" statementType="CALLABLE"  parameterType="java.util.HashMap" >

		{call sysSP_CreatePayrollGroupCustom(#{gid,mode=IN,jdbcType=INTEGER},#{corpid,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>

	<select id="sysSP_CreatePayrollItemFormulaCustom" resultType="java.util.Map" statementType="CALLABLE"  parameterType="java.util.HashMap" >

		{call sysSP_CreatePayrollItemFormulaCustom(#{gid,mode=IN,jdbcType=INTEGER},#{corpid,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})}
	</select>
</mapper>
