<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SystpayrollformulaMapper">

  <resultMap id="systpayrollformulaMap" type="com.pig4cloud.pigx.admin.entity.Systpayrollformula">
                  <id property="id" column="ID"/>
                        <result property="term" column="Term"/>
                        <result property="colid" column="ColID"/>
                        <result property="gid" column="GID"/>
                        <result property="colname" column="ColName"/>
                        <result property="step" column="Step"/>
                        <result property="title" column="Title"/>
                        <result property="sqlformula" column="SQLFormula"/>
	  					<result property="sqlformula2" column="SQLFormula2"/>
                        <result property="sqlcondition" column="SQLCondition"/>
                        <result property="corpid" column="corpid"/>
                        <result property="corpcode" column="corpcode"/>
	  <result property="sqlrule" column="sqlrule"/>
            </resultMap>
</mapper>
