<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SystpaystditemMapper">

  <resultMap id="systpaystditemMap" type="com.pig4cloud.pigx.admin.entity.Systpaystditem">
                  <id property="id" column="ID"/>
                        <result property="corpid" column="CorpID"/>
                        <result property="colname" column="ColName"/>
                        <result property="title" column="Title"/>
                        <result property="xorder" column="xOrder"/>
                        <result property="isdisabled" column="IsDisabled"/>
                        <result property="remark" column="Remark"/>
	  				<result property="gid" column="gid"/>
	  				<result property="corpcode" column="corpcode"/>
	  <result property="parentid" column="parentid"/>

            </resultMap>

	<resultMap id="HashMap" type="java.util.HashMap" autoMapping="true">
	</resultMap>

	<select id="listSalaryTemplate" parameterType="String" resultType="java.util.LinkedHashMap">
		${value}
	</select>

	<select id="listSalaryTemplate2"  parameterType="String" statementType="CALLABLE" resultType="java.util.Map" >
		${value}
	</select>

	<update id="listSalaryTemplate3"  parameterType="String"  >
		${value}
	</update>


	<select id="listSalaryTemplate4"  parameterType="String" resultMap="HashMap">
		${value}
	</select>

	<select id="listSalaryTemplate5" parameterType="String" resultMap="HashMap">
		${value}
	</select>



</mapper>
